{{- if .Values.scenarios.periodic.podFailure.enabled }}
# Simulate pod failures every 5 min.
apiVersion: chaos-mesh.org/v1alpha1
kind: Schedule
metadata:
  name: schedule-pod-failure-long-running
  namespace: chaos-mesh
spec:
  schedule: {{ .Values.scenarios.periodic.podFailure.schedule | quote }}
  historyLimit: 2
  concurrencyPolicy: Allow
  type: PodChaos
  podChaos:
    action: pod-failure
    mode: one
    duration: {{ .Values.scenarios.periodic.podFailure.duration | quote }}
    selector:
      namespaces: {{- .Values.testNamespaces | toYaml | nindent 8 }}
{{- end }}
