{{- if .Values.scenarios.periodic.netDelay.enabled }}
# Simulate periodic network lags.
apiVersion: chaos-mesh.org/v1alpha1
kind: Schedule
metadata:
  name: schedule-net-delay-long-running
  namespace: chaos-mesh
spec:
  schedule: {{ .Values.scenarios.periodic.netDelay.schedule | quote }}
  historyLimit: 2
  concurrencyPolicy: Allow
  type: NetworkChaos
  networkChaos:
    action: delay
    mode: one
    selector:
      namespaces: {{- .Values.testNamespaces | toYaml | nindent 8 }}
    delay:
      latency: {{ .Values.scenarios.periodic.netDelay.latency | quote }}
      correlation: {{ .Values.scenarios.periodic.netDelay.correlation | quote }}
      jitter: {{ .Values.scenarios.periodic.netDelay.jitter | quote }}
    duration: {{ .Values.scenarios.periodic.netDelay.duration | quote }}
{{- end }}
