---
{{- if .Values.scenarios.oneTime.networkDownRecovery2.enabled }}
apiVersion: chaos-mesh.org/v1alpha1
kind: Workflow
metadata:
  name: network-down-and-recovery-2-slow
  namespace: chaos-mesh
spec:
  entry: main
  templates:
    - name: main
      templateType: Serial
      children:
        - 1-network-down
        - 2-network-delay-during-recover

    - name: 1-network-down
      templateType: NetworkChaos
      deadline: {{ .Values.scenarios.oneTime.networkDownRecovery2.downtimeDuration | quote }}
      networkChaos:
        action: partition
        mode: all
        selector:
          namespaces: {{- .Values.chaosTestNamespaces | toYaml | nindent 12 }}

    - name: 2-network-delay-during-recover
      templateType: NetworkChaos
      deadline: {{ .Values.scenarios.oneTime.networkDownRecovery2.delayRecoveryDuration | quote }}
      networkChaos:
        action: delay
        mode: all
        selector:
          namespaces: {{- .Values.chaosTestNamespaces | toYaml | nindent 12 }}
        delay:
          latency: {{ .Values.scenarios.oneTime.networkDownRecovery2.latency | quote }}
          correlation: {{ .Values.scenarios.oneTime.networkDownRecovery2.correlation | quote }}
          jitter: {{ .Values.scenarios.oneTime.networkDownRecovery2.jitter | quote }}
{{- end }}
