---
# This workload can be combained with windows workload to be able to use session manager. 
# This is a workaround for currently istio-proxy not supported for windows container.

# Workload info
workload:
  type: onegateway      # Required - standard or onegateway
  state: stateless      # Required - stateful or stateless, for stateless mounting extra volumes is blocked (besides keyvault)

# This is example nginx image with simplest config to be able to proxy_pass a requests to windows workloads
image:
  repository: "nginx"
  tag: "1.23.2"
  containerPort: 80

additionalPodLabels:
  session-management: frontend
  session-manager-name: onegateway-sessionmanager

env:
  PROXY_PASS_HOST: win-standard-workload.win-standard-workload.svc.cluster.local #change to your workload service, which to be proxied to

# Simplests reverse proxy config - to be updated with security configs
configMap: 
  enabled: true
  data: |
    default.conf.template: |
      server {
        listen 80;
        server_name default;
        location / {
          proxy_set_header        Host $host;
          proxy_set_header        X-Real-IP $remote_addr;
          proxy_set_header        X-Forwarded-Host $http_host;
          proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header        X-Forwarded-Proto $scheme;
          proxy_pass http://${PROXY_PASS_HOST}/;
        }
      }
      
volumes:
 - name: configmap-volume
   mountPath: /etc/nginx/templates/default.conf.template
   subPath: default.conf.template
   volumeDefinition: |
    configMap:
      name: onegateway-reverseproxy-workload-config-map 

kubeit:
  gatewayEnabled: true

defaultRouting:
  catchAll: true
  kubeitDefaultHosts:
    enabled: false
  hosts:
    - "onegateway-win-workload.kubeit.dnv.com" #change to your veracity app fqdn

resources:
  requests:
    cpu: 100m
    memory: 2Gi
  limits:
    cpu: 500m
    memory: 6Gi

requestAuthentication:
  enabled: true
  jwtRules:
    - issuer: "https://login.veracity.com/a68572e3-63ce-4bc1-acdc-b64943502e9d/v2.0/"
      jwksUri: "https://login.veracity.com/te/a68572e3-63ce-4bc1-acdc-b64943502e9d/b2c_1a_signinwithadfsidp/discovery/v2.0/keys"
      audiences: [83054ebf-1d7b-43f5-82ad-b2bde84d7b75]
      forwardOriginalToken: true
