---
# This workload can be combained with windows workload to be able to use session manager. 
# This is a workaround for currently istio-proxy not supported for windows container.

# Workload info
workload:
  type: onegateway      # Required - standard or onegateway
  state: stateless      # Required - stateful or stateless, for stateless mounting extra volumes is blocked (besides keyvault)

image:
  repository: "kubeitglobalsvcauxacrwe.azurecr.io/test/nginx-reverseproxy"
  tag: "main"
  containerPort: 80

additionalPodLabels:
  session-management: frontend
  session-manager-name: onegateway-sessionmanager

env:
  proxy_pass_host: win-standard-workload.win-standard-workload.svc.cluster.local

kubeit:
  gatewayEnabled: true

defaultRouting:
  catchAll: true
  kubeitDefaultHosts:
    enabled: false
  hosts:
    - "onegateway-reverseproxy-workload-tenant2.aux016.kubeit.dnv.com"

resources:
  requests:
    cpu: 100m
    memory: 2Gi
  limits:
    cpu: 500m
    memory: 6Gi

requestAuthentication:
  enabled: true
  jwtRules:
    - issuer: "https://login.veracity.com/a68572e3-63ce-4bc1-acdc-b64943502e9d/v2.0/"
      jwksUri: "https://login.veracity.com/te/a68572e3-63ce-4bc1-acdc-b64943502e9d/b2c_1a_signinwithadfsidp/discovery/v2.0/keys"
      audiences: [83054ebf-1d7b-43f5-82ad-b2bde84d7b75]
      forwardOriginalToken: true
